<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="Suite1" parallel="false" preserve-order="true">
	<test name="Test1">
	   <!--  <parameter name="deviceName_" value="emilator" /> --> 
	    <parameter name="deviceName_" value="Galaxy C9 Pro" /> 
		<parameter name="platformVersion_" value="8.0.0" /> 
		<parameter name="platformName_" value="Android" />
		<parameter name="appPackage_" value="com.myntra.android" />
		<parameter name="appActivity_" value="com.myntra.android.SplashActivity" />
		<!-- <parameter name="appPackage_" value="in.amazon.mShop.android.shopping" />
		<parameter name="appActivity_" value="com.amazon.mShop.navigation.MainActivity" /> -->
		<classes>
			<class name="TestBase.DriverBase" />
			<class name="TestScript.Myntra_TestCases" />
		</classes>
	</test>
</suite>